<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="peacetolero_alpha_config">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import peacetolero_alpha_config urdf file -->
    <xacro:include filename="$(find peacetolero_description)/urdf/peacetolero_alpha.config.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="peacetolero_alpha_config.ros2_control.xacro" />


    <xacro:peacetolero_alpha_config_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
