<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="peacetolero">

  <!-- Definir un macro llamado peacetolero_macro -->
  <xacro:macro name="peacetolero_macro" params="prefix">
    <!-- Base Link -->
    <link name="${prefix}base_link">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://peacetolero_description/meshes/peacetolero.dae" scale="1 1 1"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 1 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://peacetolero_description/meshes/peacetolero.dae" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>
    <link name="${prefix}alpha_suport">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0 0 0" />
        <geometry>
          <mesh filename="package://peacetolero_description/meshes/soporte_alpha.dae" scale="1 1 1"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 1 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://peacetolero_description/meshes/soporte_alpha.dae" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_link2arm" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}alpha_suport"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </joint>


  </xacro:macro>

</robot>
